body{
  background-color: lightblue;
  text-align: center;
}

mat-card{
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 30px;

}

.answer{
  border: 8px solid #D23B68;
  background-color: lightgray;
  width: auto;
  font-size: 26px;
  text-decoration: line-through;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  padding:10px;
}

.correct{
  border: 8px solid #007944;
  padding:10px;
  background-color: white;
  text-decoration: none;
}

.next-button{
  text-align: center;
  margin: auto;
}

.title{
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
}
