body {
  text-align: center;
}

div {
  text-align: center;
  padding-top: 20px;
}

h1 {
  font-size: 40px;
  padding-top: 25px;
}

h3 {
  padding-top: 20px;
}

h2 {
  padding-top: 20px;
}

label {
  font-size: 20px;
  margin-top: 10px;
}

input {
  vertical-align: center;
}

.next-button{
  text-align: center;
  margin: auto;
}
