body {
  text-align: center;
}

div {
  margin: auto;
  text-align: center;
}

img {
  border-radius: 50%;
}

h1 {
  font-size: 40px;
  padding-top: 40px;
}

h3 {
  padding-top: 20px;
  padding-bottom: 15px;
}

.next-button{
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
}

.quiz-card {
  display: inline-block;
  margin: 10px;
}
